{
  "openapi": "3.0.1",
  "info": {
    "title": "Study Bid Buddy (Copilot)",
    "description": "Ask Buddy with full Cosmos portfolio context (all studies) plus optional single-study detail. Use for client rollups (e.g. Alcon patients last year), study lists, and budget questions. Always call this tool for Ora bid/study questions; return the answer field.\n\nAuth: API key in header x-copilot-key (SWA setting COPILOT_ASK_KEY). In Copilot Studio / Power Platform connector Security, set Authentication = API Key and use Maker-provided credentials so end users are never prompted.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://white-river-0de1aed0f.7.azurestaticapps.net"
    }
  ],
  "paths": {
    "/api/copilot/ask": {
      "post": {
        "operationId": "AskBuddy",
        "summary": "Ask Buddy about studies or the full portfolio",
        "description": "Answers questions using Cosmos study data. Supports cross-study queries by client name and year (portfolio totals) and single-study detail when studyId is known. Examples: 'How many enrolled patients with Alcon last year?', 'List studies for Regeneron', 'What are enrollment drivers on O-12345?'",
        "security": [
          {
            "CopilotAskKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["question"],
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "The user's question about studies, clients, enrollment, or budgets"
                  },
                  "studyId": {
                    "type": "string",
                    "description": "Optional opportunity/study id for single-study detail, e.g. O-12345"
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Optional client/sponsor filter for portfolio rollup, e.g. Alcon"
                  },
                  "year": {
                    "type": "integer",
                    "description": "Optional calendar year filter for portfolio (from study updated/imported dates), e.g. 2025"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Buddy answer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": { "type": "string", "description": "Buddy reply to show the user" },
                    "studyId": { "type": "string" },
                    "clientName": { "type": "string" },
                    "year": { "type": "integer" },
                    "portfolioMatched": { "type": "integer" },
                    "model": { "type": "string" },
                    "provider": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "CopilotAskKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-copilot-key",
        "description": "Shared secret — same value as SWA Application setting COPILOT_ASK_KEY. Store once on the connector connection (maker-provided). Do not pass as a chat parameter."
      }
    }
  },
  "security": [
    {
      "CopilotAskKey": []
    }
  ]
}
