{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "COSMOS_ENDPOINT": "https://bd-budgets.documents.azure.com:443/",
    "COSMOS_KEY": "SET_IN_AZURE_APP_SETTINGS_NOT_HERE",
    "COSMOS_DATABASE": "bd-budgets"
  },
  "Host": {
    "CORS": "*"
  }
}
